@mixin font-selection($family, $size, $weight: "", $color: "") {
    $weight: if($weight=="", normal, $weight);
    $color: if($color=="", inherit, $color);
    font-family: $family;
    font-weight: $weight;
    font-size: $size;
    color: $color;
}

@mixin flex-align-center {
    display: flex;
    align-items: center;
}

@mixin flex-center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-center-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@mixin bold-uppercase {
    text-transform: uppercase;
    font-weight: bold;
}

@mixin width-height($width: auto, $height: auto) {
    width: $width;
    height: $height;
}