//font family
$PlayfairDisplay: "Playfair Display",
serif;
$Poppins: 'Poppins';
$Oswald: 'Oswald';
$Lato: 'Lato';
//font sizes
$bold: bold;
$semi-bold: 700;
$extra-bold: 900;
$regular: 400;
$light: 300;
$extra-light: 100;