.cart__hero {
    position: relative;
    background-image: url("../../img/pexels-anfisa-eremina-2543042-180.jpg");
    background-size: cover;
    background-position: center center;
    height: 230px;
    @extend %flex-column-center;
    &__overlay {
        height: 100%;
        width: 100%;
        background-color: #0000009a;
        position: absolute;
    }
    &__title {
        @include font-selection($PlayfairDisplay,
        72px,
        $regular,
        $primaryColor);
        text-align: center;
        position: relative;
        z-index: 99;
    }
    .border-wrapper {
        width: 100%;
        position: relative;
        z-index: 99;
    }
}

.cart__body {
    display: flex;
    max-width: 1140px;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 65px 0 112px;
}

.cart__product {
    position: relative;
    width: 67%;
    margin-right: 15px;
    padding: 30px 0;
    &__heading {
        display: flex;
        @include font-selection($Oswald,
        12px,
        $bold);
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    &__heading__title {
        &:nth-child(1) {
            width: 50%;
        }
        &:nth-child(2) {
            width: 25%;
            text-align: center;
        }
        &:nth-child(3) {
            width: 25%;
            text-align: center;
        }
    }
    .border-wrapper {
        width: 100%;
    }
}

.cart__items {
    display: flex;
    padding: 32px 0;
    @include font-selection($Poppins,
    14px,
    $regular);
    &__main {
        display: flex;
        width: 50%;
    }
    &__close {
        @include flex-align-center;
        &:hover {
            cursor: pointer;
        }
    }
    &__image {
        @include flex-align-center;
        margin-left: 28px;
    }
    &__image img {
        width: 98px;
        height: 112px;
        object-fit: cover;
    }
    &:nth-child(even) {
        border-top: 1px solid #e7e7e7;
    }
}

.item__details {
    margin-left: 16px;
}

.cart__items__incrementor {
    width: 25%;
    @include flex-center-all;
}

.item__total {
    @include flex-center-all;
    width: 25%;
}

.incrementor {
    text-align: center;
    button {
        width: auto;
        height: 20px;
        &:nth-child(3) {
            transform: rotate(180deg);
        }
    }
    &__value {
        width: auto;
        margin-left: -2px;
    }
    img {
        height: 9px;
        width: 10px;
    }
}

.sidebar {
    width: 33%;
    margin-left: 15px;
}

.sidebar__body {
    position: relative;
    width: 100%;
    background-color: #f0f0f0;
    padding: 25px;
    @include font-selection($Oswald,
    12px);
    &__heading {
        @include bold-uppercase;
        padding-top: 5px;
    }
    &__subtotal {
        display: flex;
        padding-top: 32px;
        &__title {
            width: 100%;
            font-size: 12px;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
        &__total {
            width: 100%;
            @include font-selection($Poppins,
            14px,
            600,
            $black);
            text-align: right;
        }
    }
}

.shipping {
    display: flex;
    padding: 30px 0 15px;
    &__title {
        text-transform: uppercase;
        width: 30%;
        letter-spacing: 2px;
    }
    &__option {
        @include font-selection($Poppins,
        13px,
        $regular,
        #858585);
        @include flex-align-center;
        padding-bottom: 12px;
        label {
            margin-left: 9px;
        }
    }
}

.sidebar__calc__shipping {
    padding: 20px 0 10px;
}

.sidebar__accordion {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    border: none;
    color: #000000;
    @include font-selection($Oswald,
    12px);
    &:hover {
        background: none;
        color: #000000;
    }
    &__title {
        width: 50%;
        text-align: left;
    }
    &__img {
        position: absolute;
        width: 10px;
        height: 10px;
        right: 0;
        transform: rotate(180deg);
        transition: all .3s;
    }
}

.expanded {
    transform: rotate(0);
}

.sidebar__total {
    display: flex;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 28px;
    &__title {
        width: 50%;
    }
    &__price {
        @include font-selection($Poppins,
        20px);
        width: 50%;
        text-align: right;
    }
}

.sidebar__actions {
    @include font-selection($Oswald,
    12px,
    $bold);
    width: 100%;
    &__update {
        width: 100%;
        height: 75px;
        border: none;
        background: $primaryBgColor;
        letter-spacing: 3px;
        &:hover {
            background: $primaryBgColor;
            color: $primaryColor;
        }
    }
    &__checkout {
        width: 100%;
        height: 75px;
        border: none;
        background: $black;
        letter-spacing: 3px;
        &:hover {
            background: $black;
            color: $primaryColor;
        }
    }
}

.cart__coupon {
    display: flex;
    height: 60px;
    margin-top: 40px;
    &__title {
        @include font-selection($Oswald,
        12px,
        $bold);
        @include flex-center-all;
        border: 1px solid #dcdcdc;
        border-right: none;
        height: 100%;
        width: 15%;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    &__input {
        width: 60%;
        input {
            @include font-selection($Poppins,
            14px,
            $regular);
            width: 100%;
            height: 100%;
            padding: 0 25px;
            border: 1px solid #dcdcdc;
            &:focus {
                outline: none;
            }
        }
    }
    &__apply {
        width: 25%;
        height: 100%;
        button {
            @include flex-center-all;
            @include font-selection($Oswald,
            12px,
            $bold);
            width: 100%;
            height: 100%;
            border: 1px solid #dcdcdc;
            border-left: none;
            background: $primaryBgColor;
            color: $primaryColor;
            &:hover {
                background: $primaryBgColor;
                color: $primaryColor;
            }
        }
    }
}