/* Navbar  */


/* Categories Carousel */

.categories__carousel__container {
    display: flex;
}

.categories__carousel__cards {
    height: 808px;
    flex: 1;
}

.categories__image {
    background-position: center center;
    background-size: cover;
}

.categories__text {
    position: relative;
    margin-top: -140px;
    height: 140px;
    text-align: center;
    color: #ffffff;
}

.categories__title {
    font-family: "Playfair Display", serif;
    font-size: 50px;
}

.categories__description {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
}

.categories__image {
    width: 100%;
    height: 808px;
}


/* featured products */

.featured__products {
    padding: 50px 0;
    height: 670px;
}

.featured__products h2 {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    letter-spacing: 3px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.fpc__container {
    display: flex;
    padding: 70px 55px;
}


/* promo banner */

.promo__banner__container {
    display: flex;
    flex-flow: row wrap;
}

.banner__promo__card {
    position: relative;
    width: 50%;
    height: 100%;
}

.banner__promo__card:nth-child(3) {
    margin-top: -462px;
}

.banner__promo__details {
    position: absolute;
    top: 60px;
    left: 100px;
    color: #ffffff;
}

.banner__promo__details h2 {
    font-size: 50px;
}

.banner__promo__category {
    text-transform: uppercase;
    font-family: "Oswald";
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.banner__promo__card img {
    object-fit: cover;
    width: 951.99px;
}

.banner__promo__card:nth-child(1) img {
    width: 100%;
    height: 468px
}

.banner__promo__card:nth-child(2) img {
    width: 100%;
    height: 930px
}

.banner__promo__card:nth-child(3) img {
    width: 100%;
    height: 935px;
}

.banner__promo__card:nth-child(4) img {
    width: 100%;
    height: 473px
}


/* countdown product */

.countdown__product__container {
    height: 100%;
    background-color: #343532;
    padding: 65px 70px 0;
    position: relative;
}

.countdown__product__title h4 {
    color: #ffffff;
    text-align: center;
    font-family: "Oswald";
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
}


/* most wanted products*/

.most__wanted__products {
    display: flex;
    overflow: hidden;
    margin-left: -15px;
    .fpc__image {
        height: 100%;
    }
    .fpc__image:nth-child(1) {
        padding-left: 0;
    }
    .fpc__image:nth-child(3) {
        padding-right: 0;
    }
    .fpc__image .fpc__details .fpc__details_price {
        font-family: $Poppins;
        font-size: 20px;
        color: #ffffff;
    }
    .fpc__image .fpc__details .fpc__details_title {
        font-family: "Playfair Display";
        font-size: 50px;
        color: #ffffff;
        margin-top: 40px;
    }
    .fpc__sale-tag {
        top: 20px;
        left: 35px;
    }
}

.the__product__card {
    padding: 0 15px;
}

.mwp__arrows {
    position: absolute;
    top: 60%;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    z-index: 99;
}

.mwp__arrows .arrow__left {
    position: absolute;
    left: 552px;
}

.mwp__arrows .arrow__right {
    position: absolute;
    left: 1175px;
    transform: scaleX(-1);
}

//Vueper Slides
.vueperslides__bullets {
    padding-top: 30px;
    padding-bottom: 30px;
}

.vueperslides__arrow--next,
.vueperslides__arrow--prev {
    display: none;
}


/* tab product */

.tab__product__container {
    display: flex;
}

.tab__product__content {
    flex: 1;
    position: relative;
    &:nth-child(3) .tab__product__title,
    &:nth-child(3) .tab__product__body,
    &:nth-child(3) .tab__product__more {
        border-right: none;
    }
}

.tab__product__title {
    font-family: "Oswald";
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    padding: 40px 0 36px;
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}

.tab__product__body {
    padding: 32px 70px;
    border-right: 1px solid #e0e0e0;
    .fpc__image {
        height: 100%;
        padding: 32px 0;
        display: flex;
        flex: 0;
        position: relative;
    }
    .fpc__image img {
        object-fit: cover;
    }
    .fpc__details {
        position: absolute;
        right: -235px;
        top: 25px;
    }
    .fpc__details_title {
        font-size: 18px;
        margin-top: 0;
    }
    .fpc__details_price {
        font-size: 18px;
        text-align: left;
    }
}

.tab__product__actions {
    position: relative;
    top: 80px;
    height: 100%;
    width: auto;
    left: 14px;
    .rating-star {
        margin: 10px 2px 40px;
    }
}

.tp__actions__btn .btn-standard {
    background-color: #f1f1f1;
    color: #000000;
    font-size: 18px;
}

.tp__actions__list {
    display: flex;
}

.tab__product__more {
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}

.tab__product__more button {
    margin: 20px 0;
    &:hover {
        color: #ffffff !important;
        background-color: #000000 !important;
        font-weight: $light;
    }
}


/* From Our Blog */

.fob__container {
    padding: 68px 70px;
    background-color: #f5f5f5;
}

.fob__title {
    font-family: "Oswald";
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 70px;
}

.fob__slide {
    position: relative;
    transition: ease-in-out .1s;
    opacity: 1;
    .fpc__details_title {
        margin-top: 0;
    }
}

// From Our Blog Sliders
.fob__slide__container {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    padding-top: 70px;
}

.fob__slide__container .fpc__image {
    height: 100%;
}

.fob__slide {
    height: 100%;
}

.fob__slide__details {
    background-color: #ffffff;
    padding: 42px 0 48px;
}

.fob__sd__category {
    font-family: "Oswald";
    font-weight: light;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #9a9a9a;
}

.fob__post__details {
    display: flex;
    justify-content: center;
}

.fob__post__title {
    font-family: "Playfair", serif;
    font-size: 30px;
}

.fob__post__user,
.fob__post__comments {
    font-family: "Poppins";
    font-size: 13px;
}

.fob__post__user {
    margin-right: 10px;
}

.slide-details-parent .vueperslides__parallax-wrapper {
    padding-bottom: 10.3333% !important;
}


/* Newsletter */

.newsletter__container {
    background-image: url("../../img/pexels-anfisa-eremina-2543042.jpg");
    background-size: cover;
    padding: 53px 0 70px;
    position: relative;
    min-height: 388px;
    .overlay {
        padding: 53px 0 70px;
    }
}

.newsletter__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    img {
        height: 25px;
    }
    h2,
    p {
        text-align: center;
        color: #ffffff;
        font-family: "Oswald";
    }
    h2 {
        font-size: 16px;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 18px;
        margin-bottom: 5px;
    }
    p {
        font-size: 12px;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 15px;
    }
}

.newsletter__form {
    @include flex-center-all;
    flex-flow: column;
    margin-top: 20px;
    input {
        @include font-selection($Poppins,
        13px);
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: 2px solid #484848;
        line-height: 44px;
        width: 30%;
        text-align: center;
        color: #767676;
        margin-bottom: 32px;
    }
    form {
        @include flex-center-all;
        flex-direction: column;
    }
}

.the__product__card img {
    width: 568px;
    height: 622px;
    object-fit: cover;
}

// Media Queries
@media only screen and (max-width: 575px) {
    .categories__carousel__cards {
        width: 100%;
        flex: auto;
        flex-shrink: 0;
    }
    .featured__products {
        height: 100%;
        .categories__border__line {
            width: 20% !important;
        }
    }
    .fpc__container {
        @include flex-direction-column;
        padding: 20px 25px;
        .fpc__image {
            height: auto;
            width: 100%;
            padding: 0;
            margin-bottom: 40px;
            flex: 1;
        }
        .fpc__sale-tag {
            right: 13px;
        }
    }
    // Promo banner
    .banner__promo__card {
        width: 100%;
    }
    .banner__promo__details {
        left: 25px;
    }
    .banner__promo__details h2 {
        font-size: 30px;
    }
    //most wanted
    .countdown__product__container {
        padding: 40px 25px;
    }
    .countdown__timer__content {
        margin: 30px 0;
        gap: 10px;
    }
    .ct__number {
        font-size: 30px;
    }
    .ct__text {
        font-size: 10px;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 576px) {}

@media only screen and (max-width: 768px) {
    .tab__product__container {
        flex-direction: column;
    }
    .tab__product__body {
        padding: 10px 25px;
        border-right: 1px solid #e0e0e0;
        .fpc__image {
            height: 100%;
            padding: 32px 0;
            display: flex;
            flex: 0;
            position: relative;
        }
        .fpc__image img {
            object-fit: cover;
        }
        .fpc__details {
            position: absolute;
            right: -235px;
            top: 25px;
        }
        .fpc__details_title {
            font-size: 18px;
            margin-top: 0;
        }
        .fpc__details_price {
            font-size: 18px;
            text-align: left;
        }
    }
}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}