/* Footer */

.footer__container {
    min-height: 285px;
    display: flex;
    align-items: center;
    flex-flow: column;
    background-color: #181818;
    padding: 45px 0 39px;
    h1 {
        color: #ffffff;
        font-family: "Poppins";
        font-size: 80px;
        line-height: 75px;
        margin-bottom: 30px;
    }
}

.footer__navigation {
    ul {
        list-style: none;
        display: flex;
        gap: 55px;
    }
    ul li a {
        color: #ffffff;
        font-family: "Oswald";
        font-size: 12px;
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-decoration: none;
    }
    .fs__social__list {
        padding-top: 30px;
    }
}

.footer__social .fs__social__list {
    padding-top: 30px;
    img {
        height: 19px;
        padding: 0 25px;
    }
    img:nth-child(4) {
        padding-left: 70px;
    }
}

// Media Queries
@media only screen and (max-width: 575px) {}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 576px) {}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    .footer__navigation {
        ul {
            list-style: none;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 0;
        }
        ul li a {
            color: #ffffff;
            font-family: "Oswald";
            font-size: 12px;
            font-weight: 100;
            text-transform: uppercase;
            letter-spacing: 3px;
            text-decoration: none;
            padding: 0 10px;
        }
        .fs__social__list {
            display: flex;
        }
    }
    .footer__social .fs__social__list {
        display: flex;
    }
    .footer__social .fs__social__list img:nth-child(4) {
        padding-left: 20px;
    }
}

@media only screen and (min-width: 768px) {}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}