/* Footer */

.footer__container {
    min-height: 285px;
    display: flex;
    align-items: center;
    flex-flow: column;
    background-color: #181818;
    padding: 45px 0 39px;
    h1 {
        color: #ffffff;
        font-family: "Poppins";
        font-size: 80px;
        line-height: 75px;
        margin-bottom: 30px;
    }
}

.footer__navigation {
    ul {
        list-style: none;
        display: flex;
        gap: 55px;
    }
    ul li a {
        color: #ffffff;
        font-family: "Oswald";
        font-size: 12px;
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-decoration: none;
    }
    .fs__social__list {
        padding-top: 30px;
    }
}

.footer__social .fs__social__list {
    padding-top: 30px;
    img {
        height: 19px;
        padding: 0 25px;
    }
    img:nth-child(4) {
        padding-left: 70px;
    }
}