.navbar-logo {
    font-family: $Poppins;
    /*Temp*/
}

a {
    @include font-selection($Oswald, 12px, $extra-light, #ffffff);
    letter-spacing: 2px;
}

a:hover {
    color: $primaryColor;
}

.navbar-container {
    height: 182px;
    padding: 0 70px;
    width: 100%;
    background: #1e1f1c;
}

.navbar-top {
    display: flex;
    padding-top: 14px;
}

.left__side,
.center__side,
.right__side {
    width: 33.33%;
}

.left__side,
.right__side {
    color: $primaryColor;
    padding-top: 52px;
}

.left__side {
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.right__side {
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.left__side .icon__wrapper,
.right__side .icon__wrapper {
    margin: 0 10px;
}

.right__side .icon__wrapper:nth-child(2) {
    margin-right: 18px;
}

.center__side {
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.center__side {
    color: $primaryColor;
}

.navbar-logo h1 {
    font-size: 80px;
}

.navbar-bottom {
    font-family: Oswald-Light;
    text-transform: uppercase;
    font-size: 12px;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 58px;
    margin-top: 5px;
    border-top: 1px solid #2d2d2d;
}

.navbar-bottom ul {
    list-style: none;
    display: flex;
    gap: 60px;
    margin-bottom: 0;
}

.navbar-bottom ul a {
    color: $primaryColor;
    text-decoration: none !important;
}

// Media Queries
@media only screen and (max-width: 575px) {}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 576px) {}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    .navbar-toggle-menu.navbar-mobile {
        justify-content: flex-end;
    }
    .navbar-container {
        padding: 10px 15px;
        height: 50px;
        display: flex;
    }
    .navbar-mobile {
        width: 100%;
        display: flex;
        &-logo {
            @include font-selection($Poppins, 18px);
            color: $primaryColor;
            width: 50%;
        }
    }
    .navbar-desktop {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .navbar-mobile {
        display: none;
    }
}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}